body {
  font-size: 16px;
  background: linear-gradient(to right, #ecf8fe, #f6e6ef);
}

.wrapper {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-gap: 10px;
}

.chat {
  margin-right: 1rem;
  padding: 0 2rem;
  word-break: break-all;
}

#form {
  background: transparent;
  padding: 0.1rem;
  position: fixed;
  bottom: 0;
  left: 36%;
  right: 3%;
  display: flex;
  height: 3rem;
  z-index: 2;
}

#input {
  border: none;
  padding: 1rem;
  flex-grow: 1;
  border-radius: 1rem;
  margin: 0.25rem;
  position: relative;
  box-shadow: 0px 1px 10px gray;
  border-radius: 10px;
}

#input:focus {
  outline: none;
}

#input::placeholder {
  color: gray;
}

#form button {
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 20px;
  outline: none;
  background: url("send.svg");
  padding: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  top: 0;
  right: 3%;
  bottom: 0;
  position: absolute;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li div {
  padding: 0;
  margin: 0;
}

#imageMessage {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  margin-right: 10px;
  border-radius: 100%;
  box-shadow: 0px 1px 6px gray;
}

#messages li:nth-child(odd) div img {
  display: none;
}

#messages li:nth-child(even) div {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

#messages li:nth-child(odd) div {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

#messages li:nth-child(even) div {
  /* background: white; */
  margin: 10px 0;
}

#messages li:nth-child(odd) div {
  /* background: white; */
  margin: 10px 0;
}

#messages li div span {
  padding: 0.8rem 2rem 1rem 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0px 1px 5px gray;
  position: relative;
  z-index: 1;
}

#messages li:nth-child(even) div span {
  display: grid;
}

#messages li:nth-child(even) div span {
  float: left;
  clear: right;
  background: white;
}

#messages li:nth-child(odd) div span {
  float: right;
  clear: left;
  color: white;
  background: #7130fe;
}

#messages li:first-child div {
  padding: 0;
  margin: 0;
}

#messages li:last-child div {
  margin-top: 0;
  height: auto;
  margin-bottom: 3rem;
}

.Message-Date {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.7em;
  margin: 0% 8px 1% 0%;
}

#messages > li:nth-child(even) > div > span > .Message-Date {
  color: gray;
}

#messages > li:nth-child(odd) > div > span > .Message-Date {
  color: white;
}

#messages > li:nth-child(odd) > div > span > .Message-User {
  display: none;
}

.item {
  padding: 0;
  margin: 0;
}

.Message-User{
  margin-bottom: 8px;
  color: gray;
}

.contacts {
  padding: 0.4rem 2rem;
  margin-left: 1rem;
  word-break: break-all;
}

#Contacts-List {
  padding: 0;
  display: flex;
  flex-direction: column;
}

#people {
  list-style-type: none;
  max-height: 5rem;
  margin: 1.5rem 0 0 0;
  padding: 0.4rem 0.4rem 0 0.4rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 1px 5px gray;
  position: relative;
  z-index: 1;
  background-color: white;
  word-break: break-all;
}

#people:first-child {
  margin: 0;
}

#people figure {
  margin: 5px 0.7rem 5px 0;
  padding: 0;
}

#PeopleImage {
  margin: 0;
  padding: 0;
  border-radius: 2rem;
  width: 2rem;
}

#people div {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
}

#people div span {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.PeopleName {
  margin: 0;
  font-weight: bold;
  font-size: 0.9em;
}

.People-Date {
  margin: 0;
  font-weight: initial;
  font-size: 0.75em;
  color: gray;
}

#peopleLastMessage {
  margin: 0;
}
