.wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 10px;
  /* grid-auto-rows: minmax(25%, 25%); */
}

.chat {
  border: 1px solid red;
  padding: 0 1rem;
  word-break: break-all;
}

#form {
  background: transparent;
  padding: 0.1rem;
  position: fixed;
  bottom: 0;
  left: 42%;
  right: 0.65%;
  display: flex;
  height: 3rem;
  z-index: 2;
}

#input {
  border: none;
  padding: 1rem;
  flex-grow: 1;
  border-radius: 1rem;
  margin: 0.25rem;
  position: relative;
  box-shadow: 0px 1px 10px gray;
  border-radius: 10px;
}

#input:focus {
  outline: none;
}

#input::placeholder {
  color: gray;
}

#form button {
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 20px;
  outline: none;
  background: url("send.svg");
  padding: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  top: 0;
  right: 3%;
  bottom: 0;
  position: absolute;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li:nth-child(even) {
  grid-column: 1/2;
  background: white;
  margin: 10px 0;
}

#messages>li:nth-child(odd) {
  grid-column: 2/2;
  background: white;
  margin: 10px 0;
}

#messages>li>span {
  display: inline-block;
  padding: 0.8rem 2rem 0.65rem 1rem;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px gray;
  position: relative;
  z-index: 1;
}

#messages>li:nth-child(even)>span {
  float: left;
  clear: right;
  background: white;
}

#messages>li:nth-child(odd)>span {
  float: right;
  clear: left;
  color: white;
  background: #7130FE;
}

#messages>li:last-child>span {
  margin-bottom: 3rem;
}

#messages>li>span>p {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.7em;
  margin: 0% 8px 1% 0%;
}

#messages>li:nth-child(even)>span>p {
  color: gray;
}

#messages>li:nth-child(odd)>span>p {
  color: white;
}

.contacts {
  padding: 0.4rem;
  border: 1px solid blue;
  word-break: break-all;
}

#Contacts-List {
  padding: 0;
  display: flex;
  flex-direction: column;
}

#people {
  list-style-type: none;
  margin: 1rem 0 0 0;
  padding: 0.4rem 0.4rem 0 0.4rem ;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 1px 5px gray;
  position: relative;
  z-index: 1;
}

#people:first-child{
  margin: 0;
}

#people figure{
  margin: 5px 0.7rem 5px 0;
  padding: 0;
}

#PeopleImage{
  margin: 0;
  padding: 0;
  border-radius: 2rem;
  width: 2rem;
}

#people div{
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
}

#people div span{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.PeopleName{
  margin: 0;
  font-weight:bold;
  font-size: 0.9em;
}

.People-Date{
  margin: 0;
  font-weight:initial;
  font-size: 0.75em;
  color: gray;
}

#peopleLastMessage{
  margin: 0;
}